* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    min-width: 100%;
    height: 400px;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.content {
    background-color: hsl(244, 38%, 16%);
    padding: 4em;
    width: 60%;
    border-radius: 10px 0 0 10px;
}

.image img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.content h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    /* letter-spacing: 2px; */
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 2rem;
    
}

.content span {
    color: hsl(277, 64%, 61%);
}

.paragraph {
    width: 80%;
    margin-bottom: 2rem;
}

.content p {
    color: hsla(0, 0%, 100%, 0.75);
}